@use "../../../../styles/constants/breakpoints";

.card {
  width: 400px;

  img {
    height: 350px;
  }

  .card-action {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: breakpoints.$medium) {
  .card {
    width: 350px;

    img {
      height: 300px;
    }
  }
}

@media screen and (max-width: breakpoints.$small) {
  .card {
    width: 100%;

    img {
      height: auto;
    }
  }
}
